---
layout: page
title: Projects
---
<section class="list">
    
<h1>What I create</h1>


<p>All of my work is technical and mostly language agnostic. Here is some of my work you might have seen around town:</p>

<ul>
    <li><strong><a href="https://github.com/letshash/letshash.it">letshash.it</a></strong>  Mining pools for professionals by professionals!  </li>
    <li><strong><a href="https://github.com/Formicka/exchangerate.host">exchangerate.host</a></strong>  Exchange rates API is a simple and lightweight free service for current and historical foreign exchange rates & crypto exchange rates.</li>
    <li><strong><a href="https://github.com/Formicka/nepritomnost.sk">nepritomnost.sk</a></strong>  Firemné neprítomnosti online, rýchly prehľad neprítomností vašich zamestnancov. </li>
    <li><strong><a href="https://github.com/Formicka/mrfantom.com">mrfantom.com</a></strong>  Plan employees' time off. Quickly. Easily. Online. Easy to use across devices and free forever up to 5 employees.  </li>
    <li><strong><a href="https://github.com/arzzen/git-quick-stats">git-quick-stats.sh</a></strong> ▁▅▆▃▅ Git quick statistics is a simple and efficient way to access various statistics in git repository.</li>
    <li><strong><a href="https://github.com/arzzen/pert">pert</a></strong> A simple command line (bash/shell) utility to estimate tasks using PERT</li>
    <li><strong><a href="https://github.com/arzzen/philips-tv">philips-tv</a></strong> Tools to control Philips (2016, 2017, 2018, 2019) Android TV via command line.</li>
    <li><strong><a href="https://github.com/arzzen/python-simple-brainwallet">python-simple-brainwallet</a></strong> A brainwallet refers to the concept of storing Bitcoins in one's own mind by memorization of a passphrase</li>
    <li><strong><a href="https://github.com/arzzen?tab=repositories">other projects</a></strong> </li>
    <li><a href="https://gitstalk.netlify.com/arzzen">stalk me</a>  </li>
</ul>


{% comment %}
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endcomment %}

</section>
