    </div>
</div>

<div style="background-color: #022b6d;" class="nv center-block text-center">
    
    {% comment %}
        {% if page.title != "Home" %}
        {% endif %}
    {% endcomment %}
    
        <a class="btn btn-lg" href="{{ site.url }}/">Home</a>

    {% if site.blog == true %}
        <a class="btn btn-lg" href="{{ site.url }}/blog">Blog</a>
    {% endif %}

    {% if site.projects == true %}
        <a class="btn btn-lg" href="{{ site.url }}/projects">Projects</a>
    {% endif %}
    
        <a class="btn btn-lg" href="{{ site.url }}/thanks">Supporters</a>

    {% if site.about == true %}
        <a class="btn btn-lg" href="{{ site.url }}/about">About</a>
    {% endif %}

    {% if site.resume == true %}
        <a class="btn btn-lg" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
    {% endif %}
</div>

<div class="wrapper-large">
    {% if page.tag %}
        <div class="post">
    {% else %}
        <div class="page home">
    {% endif %}