<div class="clearfix"></div>
<hr>
    
<div id="mc_embed_signup" style="background-color: #022b6d; padding: 25px; text-align: center;"> 
    <form action="https://lukasmestan.us7.list-manage.com/subscribe/post?u=ca81ebfdf01d1e57063506b3c&amp;id=961f9923c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""> 
        <div id="mc_embed_signup_scroll"> 
            <h4 style="color: white;font-size: 2.5em;font-weight: bold;">Subscribe</h4>
            <label for="mce-EMAIL" style="color: white; padding-bottom: 10px;"> You’ll get real-time updates when I publish new post.</label> 
            <br> 
            <input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="" style="width: 300px;border: 0 none;padding: 8px;color: black;" type="email"> 
            <input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: darkred;border: 1px solid darkred;padding: 7px;color: white;font-weight: bold;" type="submit"> 
            <br> 
            <br>
            <small> And I hate spam just as much as you do, so don’t worry, <br>I’ll never spam you or sell your email address. </small> 
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input name="b_ca81ebfdf01d1e57063506b3c_961f9923c7" tabindex="-1" value="" type="text">
            </div> 
        </div> 
    </form> 
</div>

<hr>

<section>
    <h2 class="post-title"><strong>Comments</strong></h2>
    <article class="post-content">
        <p>Want to leave a comment? Visit <a href="https://github.com/arzzen/lukasmestan.com/issues/{{page.commentIssueId}}"> this post's issue page on GitHub</a> (you'll need a GitHub account).</p>
    </article>
    <div id="disqus_thread" class="container">
        
    </div>
</section>

<script type="text/javascript">
    function loadComments(data) {
        for (var i = 0; i < data.length; i++) {
            var cuser = data[i].user.login;
            var cuserlink = data[i].user.html_url;
            var clink = data[i].html_url;
            var cbody = data[i].body_html;
            var cavatarlink = data[i].user.avatar_url || "https://ssl.gstatic.com/accounts/ui/avatar_2x.png";
            var cdate = new Date(data[i].created_at);
            var dopts = {
                month: 'short',
                day: 'numeric',
                year: 'numeric'
            };

            $("#disqus_thread").append(
                '<div class="row">'+
                    '<div class="col-sm-1">'+
                        '<div class="thumbnail">'+
                            '<img height=67 width=67 class="img-responsive user-photo" src="'+cavatarlink+'">'+
                        '</div>'+
                    '</div>'+
                    '<div class="col-sm-7">'+
                        '<div class="panel panel-default">'+
                            '<div class="panel-heading">'+
                                '<strong><a target="_blank" href="'+cuserlink+'">'+cuser+'</a></strong>'+
                                '<span class="text-muted pull-right">'+cdate.toLocaleDateString("en", dopts)+'</span>'+
                            '</div>'+
                            '<div class="panel-body">'+
                                cbody +
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</div>'
            );
        }
    }

    $.ajax("https://api.github.com/repos/arzzen/lukasmestan.com/issues/{{ page.commentIssueId }}/comments", {
        headers: {Accept: "application/vnd.github.v3.html+json"},
        dataType: "json",
        success: function (msg) {
            loadComments(msg);
        }
    });
</script>